:root {
  --color-navy: #2e2f42;
  --color-slate: #434455;
  --color-text-light: #f4f4fd;
  --color-text-white: #ffffff;
  --acent-color: #4d5ae5;
  --acent-color-active: #404bbf;
  --acent-color-green: #31d0aa;

  --background-color-white: #ffffff;
  --background-color-dark: #2e2f42;
  --background-color-gris: #f4f4fd;
  --background-color-light: #8e8f99;
  --color-cornflower: #e7e9fc;
  --background-gradient: rgba(46, 47, 66, 0.7);
  --background-modal: rgba(46, 47, 66, 0.4);
  --color-dairy-modal: #fcfcfc;

  --indent-horizontal: 72px;
  --indent-vertical: 24px;
  --items: 1;

  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/**
  |========================================================
  |            Глобальні стилі  нормалізація та reset
  |========================================================
*/

body {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-slate);

  background-color: var(--background-color-white);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.section {
  padding-top: 96px;
  padding-bottom: 96px;
}

/*Desktop styles*/
@media only screen and (min-width: 1158px) {
  .section {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}
/**
  |===========================================
  |                 Контейнер
  |===========================================
*/

.container {
  /*Basic styles*/
  min-width: 320px;
  max-width: 428px;
  padding: 0 16px;
  margin: 0 auto;

  outline: 2px solid red;
}

/*Tablet styles*/
@media only screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

/*Desktop styles*/
@media only screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }
}
/**
  |==========================================
  |                Скриті заголовки
  |==========================================
*/
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/**
  |==================================================
  |                    Хедер на навігація
  |==================================================
*/

.header {
  border-bottom: 1px solid var(--color-cornflower);
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
  align-items: center;
}

.header .logo {
  display: inline-block;
  padding-top: 25.5px;
  padding-bottom: 25.5px;
}

/*Tablet styles*/
@media only screen and (min-width: 768px) {
  .header .logo {
    margin-right: 120px;
  }
}

/*Desktop styles*/
@media only screen and (min-width: 1158px) {
  .header .logo {
    margin-right: 76px;
  }
}

.nav {
  display: flex;
  align-items: center;
  margin-right: auto;
}

/*Tablet styles*/
@media only screen and (max-width: 767px) {
  .nav {
    display: none;
  }
}

.site-nav.list {
  display: flex;
  gap: 40px;
  align-items: center;
}

.site-nav .link {
  padding-top: 24px;
  padding-bottom: 24px;

  font-weight: 500;

  transition: color 250ms var(--timing-function);
  color: var(--color-navy);
}

.site-nav .link:hover,
.site-nav .link:focus,
.site-nav .link:active {
  color: var(--acent-color-active);
}

.link.current {
  position: relative;
  color: var(--acent-color-active);
}

.site-nav .link.current::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;

  width: 100%;
  height: 4px;

  border-radius: 2px;
  background-color: var(--acent-color-active);
}

.address {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17px;
  letter-spacing: 0.04em;
  color: var(--color-slate);
}

/*Tablet styles*/
@media only screen and (max-width: 767px) {
  .address {
    display: none;
  }
}

/*Desktop styles*/
@media only screen and (min-width: 1158px) {
  .address {
    font-size: 16px;
    line-height: 1.5px;
    letter-spacing: 0.02em;
  }
}

.address .list {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
}

/*Desktop styles*/
@media only screen and (min-width: 1158px) {
  .address .list {
    flex-direction: row;
    gap: 40px;
  }
}

.address.link {
  display: block;
  /*padding-top: 24px;
  padding-bottom: 24px;*/

  transition: color 250ms var(--timing-function);
}
.address .link:hover,
.address .link:focus,
.address .link:active {
  color: var(--acent-color-active);
}

/**
  |======================================
  |                   Логотип
  |======================================
*/

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--acent-color);
}

.logo .upper-logo {
  color: var(--color-navy);
}

/**
  |===================================
  |                 Заголовки 
  |===================================
*/
.section-title {
  margin-bottom: 72px;

  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;

  color: var(--color-navy);
}

.subtitle {
  margin-bottom: 8px;

  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;

  color: var(--color-navy);
}

/**
  |==================================
  |                Кнопка
  |==================================
*/

.btn {
  font-size: inherit;
  line-height: inherit;
  font-family: inherit;
  font-weight: 500;
  letter-spacing: 0.04em;
  text-align: center;

  transition: background-color 250ms var(--timing-function);

  color: var(--color-text-white);
  background-color: var(--acent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

.btn:hover,
.btn:focus,
.btn:active {
  background-color: var(--acent-color-active);
}

/**
  |====================================
  |                   Сітки
  |====================================
*/

.card-set {
  display: flex;
  flex-wrap: wrap;
  row-gap: var(--indent-horizontal);
  column-gap: var(--indent-vertical);
  justify-content: center;
}

.card-sed-item {
  flex-basis: calc((100% - var(--indent-vertical) * (var(--items) - 1)) / var(--items));
}

/**
  |=================================
  |                  Герой
  |=================================
*/
.page-hero {
  padding: 188px 0px;
  max-width: 1440px;

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  background-color: var(--background-color-dark);
  background-image: linear-gradient(var(--background-gradient), var(--background-gradient)),
    url(../images/section-hero/hero-bg_mob@1x.jpg);
}

@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .page-hero {
    background-image: linear-gradient(var(--background-gradient), var(--background-gradient)),
      url(../images/section-hero/hero-bg_mob@2x.jpg);
  }
}
/**
  |============================
  | Tablet-bg
  |============================
*/
@media only screen and (min-width: 429px) {
  .page-hero {
    background-image: linear-gradient(var(--background-gradient), var(--background-gradient)),
      url(../images/section-hero/hero-bg_tab@1x.jpg);
  }
  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    .page-hero {
      background-image: linear-gradient(var(--background-gradient), var(--background-gradient)),
        url(../images/section-hero/hero-bg_tab@2x.jpg);
    }
  }
}

/**
  |============================
  | Desktop-bg
  |============================
*/
@media only screen and (min-width: 769px) {
  .page-hero {
    background-image: linear-gradient(var(--background-gradient), var(--background-gradient)),
      url(../images/section-hero/hero-bg_desk@1x.jpg);
  }
  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    .page-hero {
      background-image: linear-gradient(var(--background-gradient), var(--background-gradient)),
        url(../images/section-hero/hero-bg_desk@2x.jpg);
    }
  }
}
.hero-container {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.hero-title {
  max-width: 320px;
  margin: 0px auto 72px;

  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  text-transform: capitalize;
  color: var(--color-text-white);
}

/*Tablet styles*/
@media only screen and (min-width: 768px) {
  .hero-title {
    max-width: 496px;
    margin: 0px auto 36px;

    font-size: 56px;
    line-height: 1.07;
  }
}

/*Desktop styles*/
@media only screen and (min-width: 1158px) {
  .hero-title {
    margin: 0px auto 48px;
  }
}

.btn.hero {
  display: block;
  min-width: 169px;
  padding: 16px 32px;
  margin: 0 auto;

  border: 0;
  border-radius: 4px;
}

/**
  |===================================
  |             Секція переваг
  |===================================
*/

/*Tablet styles*/
@media only screen and (min-width: 768px) {
  .features.list {
    --items: 2;
  }
}

/*Desktop styles*/
@media only screen and (min-width: 1158px) {
  .features.list {
    --items: 4;
  }
}

.thumb {
  display: none;
}

/*Desktop styles*/
@media only screen and (min-width: 1158px) {
  .thumb {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 112px;
    margin-bottom: 8px;

    border-radius: 4px;
    background: var(--background-color-gris);
  }
}

/*Mobile and Tablet styles*/
@media only screen and (max-width: 1157px) {
  .features.subtitle {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;

    text-align: center;
    text-transform: capitalize;
  }

  .features.text {
    font-weight: 500;
  }
}

/**
  |=================================
  |                Секція послуг
  |=================================
*/

.working.section {
  display: none;
  padding-top: 0px;
}

/*Desktop styles*/
@media only screen and (min-width: 1158px) {
  .working.section {
    display: block;
  }

  .working.list {
    --items: 3;
  }

  .working.item {
    border-bottom: 1px solid var(--color-cornflower);
  }
}

/**
  |=================================
  |                Секція команди
  |=================================
*/

.team.section {
  background-color: var(--background-color-gris);
}

.team.list {
  padding-left: 66px;
  padding-right: 66px;
}

/*Tablet styles*/
@media only screen and (min-width: 768px) and (max-width: 1157px) {
  .team.list {
    padding-left: 92px;
    padding-right: 92px;

    --items: 2;
    --indent-horizontal: 64px;
  }
}

/*Desktop styles*/
@media only screen and (min-width: 1158px) {
  .team.list {
    --items: 4;
    padding: 0;
  }
}

.team.item {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
  background-color: var(--background-color-white);
}

.team.text {
  margin-bottom: 8px;
}

.desc-wrap {
  padding: 32px 0;
  text-align: center;
}

.media-social {
  --items: 4;
  /*height: 40px;*/
  flex-wrap: nowrap;
  padding-right: 16px;
  padding-left: 16px;
}

.social-link {
  display: flex;
  justify-content: center;
  align-items: center;

  /*width: 100%;
  height: 100%;*/
  width: 40px;
  height: 40px;

  transition: background-color 250ms var(--timing-function);

  color: var(--background-color-gris);
  background-color: var(--acent-color);
  border-radius: 50%;
}

.social-link:hover,
.social-link:focus,
.social-link:active {
  background-color: var(--acent-color-active);
}

.social-icon {
  fill: currentColor;
}

/**
  |============================
  | Секція клієнтів
  |============================
*/

.clients.list {
  --items: 2;
  --indent-vertical: 16px;
}

/*Tablet styles*/
@media only screen and (min-width: 768px) {
  .clients.list {
    padding-left: 92px;
    padding-right: 92px;
    --items: 3;
  }
}
/*Desktop styles*/
@media only screen and (min-width: 1158px) {
  .clients.list {
    padding: 0;
    --items: 6;
  }
}

.clients.link {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 88px;

  transition: border-color 250ms var(--timing-function), color 250ms var(--timing-function);

  color: var(--background-color-light);
  border: 1px solid var(--background-color-light);
  border-radius: 4px;
}

.clients.link:hover,
.clients.link:focus,
.clients.link:active {
  color: var(--acent-color-active);
  border: 1px solid var(--acent-color-active);
}

.clients-icon {
  fill: currentColor;
}

.clients-icon:hover,
.clients-icon:focus,
.clients-icon:active {
  fill: currentColor;
}

/**
|========================================
|          Кнопки галереї робіт
|========================================
*/
.category.list {
  --items: 5;
  --indent-horizontal: 16px;
  justify-content: flex-start;
  align-items: flex-start;

  margin-bottom: 48px;
}

/*Tablet styles*/
@media only screen and (min-width: 768px) {
  .category.list {
    justify-content: center;
    align-items: center;

    margin-bottom: 64px;
  }
}

/*Desktop styles*/
@media only screen and (min-width: 1158px) {
  .category.list {
    margin-bottom: 72px;
  }
}

.btn.gallery {
  padding: 8px 16px;

  transition: color 250ms var(--timing-function), background-color 250ms var(--timing-function),
    box-shadow 250ms var(--timing-function), border-color 250ms var(--timing-function);

  border: 1px solid var(--color-cornflower);
  border-radius: 4px;
  color: var(--acent-color);
  background-color: var(--background-color-gris);
}

/*Tablet styles*/
@media only screen and (min-width: 768px) {
  .btn.gallery {
    padding: 12px 24px;
  }
}

.btn.gallery:hover,
.btn.gallery:focus {
  border: 1px solid transparent;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);

  color: var(--color-text-white);
  background-color: var(--acent-color-active);
}

/**
|==========================================
|                    Галерея робіт
|==========================================
*/

.page-gallery {
  padding-top: 48px;
  padding-bottom: 48px;
}

/*Tablet styles*/
@media only screen and (min-width: 768px) {
  .page-gallery {
    padding-top: 64px;
    padding-bottom: 96px;
  }
}

/*Desktop styles*/
@media only screen and (min-width: 1158px) {
  .page-gallery {
    padding-top: 100px;
    padding-bottom: 120px;
  }
}

.gallery.card-set {
  --indent-horizontal: 48px;
  justify-content: flex-start;
}

/*Tablet styles*/
@media only screen and (min-width: 768px) and (max-width: 1157px) {
  .gallery.card-set {
    --indent-horizontal: 72px;
    --items: 2;
  }
}

/*Desktop styles*/
@media only screen and (min-width: 1158px) {
  .gallery.card-set {
    --items: 3;
  }
}

.gallery.link {
  display: block;

  transition: box-shadow 250ms var(--timing-function);
}

.gallery.link:hover,
.gallery.link:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.gallery.link:hover .overlay-text,
.gallery.link:focus .overlay-text {
  transform: translateY(0%);
}

/*.gallery.link:hover .desc-wrap,
.gallery.link:focus .desc-wrap {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border: 1px solid var(--background-color-gris);
}

/*.gallery-item:nth-child(3n + 3) {
  margin-right: 0px;
}
.gallery-item:not(:nth-last-child(-n + 3)) {
  margin-bottom: 48px;
}*/

.gallery .desc-wrap {
  padding-left: 16px;

  text-align: left;

  border-right: 1px solid var(--background-color-gris);
  border-bottom: 1px solid var(--background-color-gris);
  border-left: 1px solid var(--background-color-gris);

  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
}

/*Desktop styles*/
@media only screen and (min-width: 1158px) {
  .gallery .desc-wrap {
    border-right: 1px solid var(--color-cornflower);
    border-bottom: 1px solid var(--color-cornflower);
    border-left: 1px solid var(--color-cornflower);
    box-shadow: none;
  }
}

.gallery .text {
  letter-spacing: 0.02em;
  color: var(--color-slate);
}

.gallery-thumb {
  position: relative;
  overflow: hidden;
}

/*.gallery-thumb::before {
  display: inline-block;
  content: "";

  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  opacity: 0;
  background-color: var(--acent-color);
}*/

.overlay-text {
  position: absolute;
  top: 0;
  transform: translateY(100%);

  width: 100%;
  height: 100%;
  padding: 40px 32px;

  font-weight: 400;

  transition: transform 250ms var(--timing-function);

  color: var(--color-text-light);
  background-color: var(--acent-color);
}
/**
|========================================
|                 Підвал
|========================================
*/

.page-footer {
  padding-top: 96px;
  padding-bottom: 96px;

  background-color: var(--background-color-dark);
}

/*Desktop styles*/
@media only screen and (min-width: 1158px) {
  .page-footer {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

.footer-container {
  display: block;
}

/*Tablet styles*/
@media only screen and (min-width: 768px) {
  .footer-container {
    display: flex;
    column-gap: 24px;
    row-gap: 72px;
  }
}

/*Desktop styles*/
@media only screen and (min-width: 1158px) {
  .footer-container {
    gap: 0;
  }
}
.page-footer .logo {
  display: block;
  margin-bottom: 16px;
  text-align: center;
}

.page-footer .lower-logo {
  color: var(--color-text-light);
}

@media only screen and (max-width: 767px) {
  .footer-left-part,
  .footer-right-part {
    margin-bottom: 72px;
  }
}
/*
@media only screen and (min-width: 768px) {
  .footer-left-part {
    margin-right: 24px;
  }
}
*/
/*Desktop styles*/
@media only screen and (min-width: 1158px) {
  .footer-left-part {
    margin-right: 120px;
  }
}

@media only screen and (min-width: 1158px) {
  .footer-right-part {
    margin-right: 80px;
  }
}

.footer.text {
  margin: 0 auto;
  max-width: 268px;
  color: var(--color-text-light);
}

@media only screen and (min-width: 768px) {
  .footer.text {
    width: 264px;
  }
}

.social-text {
  margin-bottom: 16px;

  font-weight: 500;
  text-align: center;
  color: var(--color-text-white);
}

.page-footer .media-social {
  width: 208px;
  padding: 0;
  margin: 0 auto;
  --indent-vertical: 16px;
}

.page-footer .card-sed-item {
  width: 40px;
}

.page-footer .social-link:hover,
.page-footer .social-link:focus {
  background-color: var(--acent-color-green);
}

.footer-form {
  display: block;
}

/*Tablet styles*/
@media only screen and (min-width: 768px) {
  .footer-form {
    display: flex;
    gap: 24px;
  }
}

.form-field {
  position: relative;
}

.form-input {
  padding: 0;
  padding-left: 16px;
  width: 100%;
  min-height: 40px;
  margin-bottom: 16px;

  font-family: inherit;
  color: var(--color-text-white);

  border: 1px solid var(--background-color-white);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
}

@media only screen and (min-width: 768px) {
  .form-input {
    min-width: 263px;
  }
}

.footer-form-field {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-60%);

  transition: transform 250ms var(--timing-function);

  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: var(--color-text-white);
}

@media only screen and (min-width: 768px) {
  .footer-form-field {
    transform: translateY(-80%);
  }
}

/*
.form-input:focus + .footer-form-field,
.form-input:not(:placeholder-shown) + .footer-form-field {
  transform: translateY(-32px);
  background-color: var(--background-color-dark);
}*/

.form-field:focus-within > .footer-form-field,
.form-input:not(:placeholder-shown) + .footer-form-field {
  transform: translateY(-40px);
  background-color: var(--background-color-dark);
}
/*.form-input::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: var(--color-text-white);
}*/

.footer-form-btn {
  display: flex;
  gap: 16px;

  padding: 8px 24px;
  margin: 0 auto;
  border: 0;
  border-radius: 4px;
}

.footer-form-btn:focus,
.footer-form-btn:hover {
  background-color: var(--acent-color-green);
}

.icon-send {
  fill: currentColor;
}

/**
  |======================================
  |             Модальне вікно
  |======================================
*/

.backdrop {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  opacity: 1;
  transition: opacity 250ms var(--timing-function), visibility 250ms var(--timing-function);
  overflow-y: scroll;

  background-color: var(--background-modal);
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);

  box-sizing: border-box;
  width: 100%;
  min-height: 584px;
  padding-top: 72px;
  padding-right: 16px;
  padding-bottom: 24px;
  padding-left: 16px;

  /*transform-origin: top left;*/
  transition: transform 250ms var(--timing-function);

  background: var(--color-dairy-modal);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

/*Mobile styles*/
@media screen and (min-width: 428px) and (max-width: 767px) {
  .modal {
    width: 392px;
  }
}

/*Tablet styles*/
@media screen and (min-width: 768px) {
  .modal {
    width: 408px;
    padding-right: 25px;
    padding-left: 23px;
  }
}

/*Desktop styles*/
@media only screen and (min-width: 1158px) {
  .modal {
    padding-right: 24px;
    padding-left: 24px;
  }
}

.modal-close-btn {
  position: absolute;
  top: 24px;
  right: 24px;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  padding: 0;

  transition: background-color 250ms var(--timing-function), color 250ms var(--timing-function);

  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  color: var(--color-navy);
  background-color: var(--color-cornflower);
  cursor: pointer;
}

.modal-close-icon {
  fill: currentColor;
}

.modal-close-btn:hover,
.modal-close-btn:focus,
.modal-close-btn:active {
  color: var(--color-text-white);
  background-color: var(--acent-color-active);
}

.modal-close-btn:hover .modal-close-icon,
.modal-close-btn:focus .modal-close-icon,
.modal-close-btn:active,
.modal-close-icon {
  fill: currentColor;
}

.modal-form-desc {
  margin-bottom: 16px;

  font-weight: 500;
  text-align: center;
  color: var(--color-navy);
}

.form-label {
  display: block;
  margin-bottom: 4px;

  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;

  color: var(--background-color-light);
}

.form-label.name {
  letter-spacing: 0.04em;
}

.modal-form-wrapper {
  position: relative;
  margin-bottom: 8px;
}

.modal-form-input {
  width: 100%;
  height: 40px;
  padding: 0;
  padding-left: 34px;

  outline: transparent;
  outline-offset: -1px;
  border: 1px solid var(--background-modal);
  border-radius: 4px;

  transition: border 250ms var(--timing-function);
}

/*Desktop styles*/
@media only screen and (min-width: 1158px) {
  .modal-form-input {
    padding-left: 38px;
  }
}

.modal-form-input:focus,
.modal-form-input:active {
  border: 1px solid var(--acent-color);
}

.form-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);

  transition: fill 250ms var(--timing-function);
  pointer-events: none;
}

.modal-form-input:focus + .form-icon,
.modal-form-input:active + .form-icon {
  fill: var(--acent-color);
}

.modal-form-comment {
  display: block;
  width: 100%;
  height: 120px;
  padding: 8px 16px;
  margin-bottom: 16px;

  transition: border 250ms var(--timing-function);

  font-family: inherit;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--background-modal);

  resize: none;
  outline: transparent;
  border: 1px solid var(--background-modal);
  border-radius: 4px;
}
.modal-form-comment:focus,
.modal-form-comment:active {
  border: 1px solid var(--acent-color);
}

.modal-form-comment::placeholder {
  font-family: inherit;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--background-modal);
}

.privacy-check {
  display: flex;
  margin-bottom: 24px;
}

.modal-checkbox {
  appearance: none;
  position: absolute;
}
.modal-icon-check {
  display: block;
  width: 16px;
  height: 16px;
  margin-right: 8px;

  transition: background-color 250ms var(--timing-function), border 250ms var(--timing-function);

  border: 1px solid var(--background-modal);
  border-radius: 2px;
}

.modal-checkbox:checked + .modal-icon-check {
  background-color: var(--acent-color-active);
  border: 1px solid var(--acent-color-active);

  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='none'%3E%3Cpath fill='%23F4F4FD' d='M11.446 4.255A.917.917 0 0 1 13 4.901a.928.928 0 0 1-.242.649l-4.894 6.154a.921.921 0 0 1-1.019.229.918.918 0 0 1-.306-.204L3.293 8.466a.925.925 0 0 1-.226-1.024.925.925 0 0 1 .87-.578.916.916 0 0 1 .656.294L7.162 9.74l4.26-5.458a.311.311 0 0 1 .025-.027h-.001Z'/%3E%3C/svg%3E");
  background-position: 50% 50%;
  background-size: contain;
  background-origin: border-box;
}

.modal-privacy-text {
  width: 100%;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;

  color: var(--background-color-light);

  user-select: none;
}

.privacy-check-link {
  color: var(--acent-color);

  transition: color 250ms var(--timing-function);
}

.privacy-check-link:hover,
.privacy-check-link:focus,
.privacy-check-link:active {
  color: var(--acent-color-active);
}

.submit.btn {
  display: block;
  min-width: 169px;
  padding: 16px 32px;
  margin: 0 auto;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: 0;
  border-radius: 4px;
}

/**
  |============================
  | Hamburger-menu
  |============================
*/

.menu-toggle {
  height: 22px;
  width: 32px;

  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  margin-left: auto;
  padding: 0;

  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
}

/*Tablet styles*/
@media (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}

/* .menu-toggle:hover,
.menu-toggle:focus {
  background-color: rgba(0, 0, 0, 0.1);
} */

.menu-container {
  position: fixed;
  top: 0;
  left: 0;

  display: flex;
  flex-direction: column;

  width: 100vw;
  height: 100vh;
  padding-top: 80px;
  padding-bottom: 40px;
  padding-left: 40px;

  background-color: var(--background-color-white);
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
  z-index: 999;

  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
}

/*Tablet styles*/
@media (min-width: 768px) {
  .menu-container {
    display: none;
  }
}

.menu-container.is-open {
  transform: translateX(0);
}

.menu-container .menu-toggle {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;

  border: 1px solid rgba(0, 0, 0, 0.1);
  color: var(--color-navy);
}

.mobile-menu {
  margin-bottom: auto;
}

.mobile-menu-item {
  padding-bottom: 40px;
}

.mobile-menu-item:last-child {
  padding-bottom: 0px;
}

.mobile-link {
  display: block;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  text-transform: capitalize;
  color: var(--color-navy);
}

.mobile-contacts {
  margin-bottom: 48px;
}
.mobile-contacts .mobile-link {
  padding-bottom: 40px;
  color: var(--acent-color);
}
.mobile-contacts .mail {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: var(--color-slate);
}

.mobile-social {
  justify-content: flex-start;
  --items: 4;
  padding-right: 60px;
  flex-wrap: nowrap;
  --indent-vertical: 56px;
  /*gap: calc((100% - 4 * 40px) / 3);*/
  height: 40px;
}

.mobile-social .social-icon {
  width: 24px;
  height: 24px;
}
